<!doctype html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body class="bg-light">
<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4" th:if="${edit}">Edit role</h2>
        <h2 class="mb-4" th:if="${create}">Create role</h2>

        <div class="card mb-4">
            <div class="card-body">
                <form th:action="@{/role/save}" method="post" th:object="${role}">
                    <input th:type="hidden" th:field="*{id}"/>

                    <div class="form-group">
                        <label for="name">Title</label>
                        <input type="text" id="name" th:field="*{name}" class="form-control"
                               placeholder="Enter title"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/fullcalendar.min.js}"></script>
<script th:src="@{/js/bootadmin.min.js}"></script>

</body>
</html>